﻿@model IEnumerable<prjModelValidate.Models.tStudent>

@{
    ViewBag.Title = "學生列表";
}

<h2>學生列表</h2>

<p>
    @Html.ActionLink("學生新增", "Create")
</p>
@if (Model.Count() == 0)
{
    <p>無學生記錄</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fStuId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fScore)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.fStuId
                </td>
                <td>
                    @item.fName
                </td>
                <td>
                    @item.fEmail
                </td>
                <td>
                    @item.fScore
                </td>
                <td>
                    @Html.ActionLink("刪除", "Delete", new { id = item.fStuId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
}
