﻿
<script type="text/javascript">

    function loadDoc(xmlFile) {
        let x_http = new XMLHttpRequest();
        x_http.open("GET", xmlFile, true);
        x_http.send();
        x_http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                xmlFunction(this.response);
            }
        };
    }

    function xmlFunction(xml) {
        let x = new DOMParser().parseFromString(xml, "text/xml").getElementsByTagName("book");
        let html = "";
        let i = 0;
        for (let elem of x) {
            html +="&nbsp;&nbsp;+-- " + i++ + ":" + elem.tagName; //顯示第i個子元素名稱
            html +="(" + elem.textContent + ") <br />";            //顯示第i個子元素內所有子元素的內容
            if (elem.nodeType === 1) {
                for (let c_elem of elem.childNodes) {
                    if (c_elem.tagName == undefined) continue;
                    html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+-- " + c_elem.tagName + "(" + c_elem.textContent + ")<br />";

                    if (c_elem.nodeType === 1) {
                        for (let s_elem of c_elem.childNodes) {
                            if (s_elem.tagName == undefined) continue;
                            html += "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+---- " + s_elem.tagName + "(" + s_elem.textContent + ")<br />";
                        }
                    }
                }
            }
        }
        document.write(html);

        /*
        fnodeList = xmlDom.documentElement.childNodes; //取出根標籤(Documentlement)(booklist)下的第一層子標籤(book)
        for (i = 0; i < fnodeList.length; i++) { // 顯示所有子節點
            document.write("&nbsp;&nbsp;+-- " + i + ":" + fnodeList[i].tagName); //顯示第i個子元素名稱
            document.write("(" + fnodeList[i].text + ") <br />");            //顯示第i個子元素內所有子元素的內容
            if (fnodeList[i].hasChildNodes()) {  // 如果擁有子節點, 顯示子節點
                snodeList = fnodeList[i].childNodes; //取出第一層子標籤下的子標籤(相對根表籤是第二層)(code, title, authorlist, price)
                for (j = 0; j < snodeList.length; j++) { // 顯示所有子節點
                    document.write("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+-- " + snodeList[j].tagName);
                    document.write("(" + snodeList[j].text + ")<br />");
                    if (snodeList[j].hasChildNodes()) {
                        //取出第k個子元素中所有children
                        tnodeList = snodeList[j].childNodes
                        // 顯示所有子節點
                        for (k = 0; k < tnodeList.length; k++) {
                            //顯示第i個子元素中第j個子子元素名稱
                            if (tnodeList[k].nodeType == 1) {
                                document.write("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+---- " + tnodeList[k].tagName)
                                //顯示第i個子元素中第j個子子元素內所有子元素的內容
                                document.write("(" + tnodeList[k].text + ")<br />")
                            }
                        }
                    }
                }
            }
        }
        */
    }

    loadDoc('./book5.xml');
</script>