﻿<script type="text/javascript">
    let xmlFile = './book2.xml';

    function loadDoc() {
        let x_http = new XMLHttpRequest();
        x_http.open("GET", xmlFile, true);
        x_http.send();
        x_http.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                xmlFunction(this.response);
            }
        };
    }

    function xmlFunction(xml) {
        document.write("<h2>資料顯示</h2><hr />");
        let parser = new DOMParser();
        let xmlDoc = parser.parseFromString(xml, "text/xml");
        let table = "";
        let x = xmlDoc.getElementsByTagName("book");
        for (let elem of x) {
            document.write("book<br/>title：" + elem.getElementsByTagName("title")[0].childNodes[0].nodeValue + "<br/>"
                + "author：" + elem.getElementsByTagName("author")[0].childNodes[0].nodeValue + "<br/>"
                + "year：" + elem.getElementsByTagName("year")[0].childNodes[0].nodeValue + "<br/>"
                + "price：" + elem.getElementsByTagName("price")[0].childNodes[0].nodeValue + "<br/>"
            );
        }
        document.write("<hr/> 課程:Web技術與應用");
    }
    loadDoc();
</script>
