﻿<script type="text/javascript">

    function loadDoc(xmlFile) {
        let xmlDom = new ActiveXObject("Microsoft.xmldom");
        xmlDom.async = "false";
        xmlDom.load(xmlFile);
        let fnodeList = xmlDom.documentElement.childNodes;

        document.write("<h2>台灣各區域PM2.5</h2><hr/><table border='1'><thead><tr><th>區域</th><th>縣市</th><th>PM2.5</th><th>發布時間</th></tr></thead><tbody>");
        for (let i = 0; i < fnodeList.length; i++) {    //data
            document.write("<tr>");
            document.write("<td>" + fnodeList[i].getElementsByTagName("county")[0].childNodes[0].nodeValue) + "</td>";
            document.write("<td>" + fnodeList[i].getElementsByTagName("Site")[0].childNodes[0].nodeValue) + "</td>";
            document.write("<td>" + fnodeList[i].getElementsByTagName("PM25")[0].text) + "</td>";   //.childNodes[0].nodeValue 沒用
            document.write("<td>" + fnodeList[i].getElementsByTagName("DataCreationDate")[0].childNodes[0].nodeValue) + "</td>";
            document.write("</tr>");
        }

        //document.write(html + "<tr/></tbody></table><hr/>");
    }

    loadDoc('https://data.epa.gov.tw/api/v1/aqx_p_02?limit=1000&api_key=9be7b239-557b-4c10-9775-78cadfc555e9&format=xml');
</script>