﻿<script type="text/javascript">

    function loadDoc(xmlFile) {
        let x_http = new XMLHttpRequest();
        x_http.open("GET", xmlFile, true);
        x_http.send();
        x_http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                xmlFunction(this.response);
            }
        };
    }

    function xmlFunction(xml) {
        document.write("<h2>書名表格顯示</h2><hr/><table border='1'><thead><tr><th>書號</th><th>書名</th><th>作者</th><th>價錢</th><th>是否有存貨</th></tr></thead><tbody>");
        let x = new DOMParser().parseFromString(xml, "text/xml").getElementsByTagName("book");
        let html = "";
        for (let elem of x) {
            html += "<tr><td>" + elem.getElementsByTagName("code")[0].childNodes[0].nodeValue + "</td>" + "<td>" + elem.getElementsByTagName("title")[0].childNodes[0].nodeValue + "</td>";

            let sales = elem.getAttribute("sales")
            let authorlist = elem.getElementsByTagName("authorlist");
            if (authorlist[0].hasChildNodes) {
                let list = authorlist[0].getElementsByTagName("author");
                html += "<td>";
                for (let a of list) {
                    html += a.childNodes[0].nodeValue;
                }
                html += "</td>";
            } else {
                html += "<td>" + elem.getElementsByTagName("author")[0].childNodes[0].nodeValue + "</td>";
            }
            html += "<td>" + elem.getElementsByTagName("price")[0].childNodes[0].nodeValue + "</td><td>" + sales + "</td>";
        }
        document.write(html + "<tr/></tbody></table><hr/>");
    }

    loadDoc('./book5.xml');
</script>