﻿<script type="text/javascript">

    function loadDoc(xmlFile) {
        let xmlDom = new ActiveXObject("Microsoft.xmldom");
        xmlDom.async = "false";
        xmlDom.load(xmlFile);
        let fnodeList = xmlDom.documentElement.childNodes;  //first node

        document.write("<h2>台灣各區域PM2.5</h2><hr/><table border='1'><thead><tr><th>區域</th><th>縣市</th><th>PM2.5</th><th>發布時間</th></tr></thead><tbody>");
        for (let i = 0; i < fnodeList.length; i++) {    //data
            document.write(
                "<tr>" +
                "<td>" + fnodeList[i].getElementsByTagName("Site")[0].childNodes[0].nodeValue + "</td>" +
            "<td>" + fnodeList[i].getElementsByTagName("county")[0].childNodes[0].nodeValue + "</td>"
            );
            let pm = fnodeList[i].getElementsByTagName("PM25")[0].text; //childNodes[0].nodeValue 無法取得
            document.write("<td style='color: " +
                (pm > 251 ? "maroon" :
                    (pm > 151 ? "purple" :
                    (pm > 66 ? "red" :
                    (pm > 36 ? "orange" :
                        (pm > 16 ? "yellow" : "green")))) +
                    "'>" + pm + "</td>"));   //.childNodes[0].nodeValue 沒用
            document.write("<td>" + fnodeList[i].getElementsByTagName("DataCreationDate")[0].childNodes[0].nodeValue + "</td>");
            document.write("</tr>");
        }
    }

    loadDoc('https://data.epa.gov.tw/api/v1/aqx_p_02?limit=1000&api_key=9be7b239-557b-4c10-9775-78cadfc555e9&format=xml');
</script>