﻿@{
    ViewBag.Title = "呼叫WebApi進行非同步新增、修改、刪除";
}

<script>
    $(document).ready(function () {
        var apiurl = "http://localhost:49712/api/Customer";

        $("#btnCreate").on("click", fnCreate);
        $("#btnEdit").on("click", fnEdit);
        $("#btnDelete").on("click", fnDelete);

        fnLoadData();

        function fnLoadData() {
            $.ajax({
                url: apiurl,
                type: "GET",
                success: function (data) {
                    $("#tableshow").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#tableshow").append
                            (
                            "<tr>" +
                            "<td>" + data[i].fId + "</td>" +
                            "<td>" + data[i].fName + "</td>" +
                            "<td>" + data[i].fPhone + "</td>" +
                            "<td>" + data[i].fEmail + "</td>" +
                            "<td>" + data[i].fAddress + "</td>" +
                            "<td><input type='button' value='選取' id='btnSelect" + i + "' class='btn btn-info' /></td>" +
                            "</tr>"
                            );
                        $("#btnSelect" + i).on("click", { fid: data[i].fId }, fnSelectData);
                    }
                    $("#fid").val("");
                    $("#fname").val("");
                    $("#fphone").val("");
                    $("#femail").val("");
                    $("#faddress").val("");
                }
            });
        }

        function fnSelectData(event) {
            var fid = event.data.fid;
            $.ajax({
                url: apiurl + "?fid=" + encodeURI(fid),
                type: 'GET',
                success: function (data) {
                    $("#fid").val(data.fId);
                    $("#fname").val(data.fName);
                    $("#fphone").val(data.fPhone);
                    $("#femail").val(data.fEmail);
                    $("#faddress").val(data.fAddress);
                }
            });
        }

        function fnCreate() {
            var r = confirm("確定要新增嗎?");
            if (r == true) {
                var fname, fphone, femail, faddress;
                fname = $("#fname").val();
                fphone = $("#fphone").val();
                femail = $("#femail").val();
                faddress = $("#faddress").val();
                var data = "?fname=" + fname + "&fphone=" + fphone + "&femail=" + femail + "&faddress=" + faddress;
                $.ajax({
                    url: apiurl +  encodeURI(data),
                    type: 'POST',
                    success: function (result) {
                        if (result != 0) {
                            alert("新增成功");
                            fnLoadData();
                        } else {
                            alert("新增失敗");
                        }
                    }
                });
            }
        }

        function fnEdit() {
            var r = confirm("確定要修改嗎?");
            if (r == true) {
                var fid, fname, fphone, femail, faddress;
                fid = $("#fid").val();
                fname = $("#fname").val();
                fphone = $("#fphone").val();
                femail = $("#femail").val();
                faddress = $("#faddress").val();
                var data="?fid=" + fid + "&fname=" + fname + "&fphone=" + fphone + "&femail=" + femail + "&faddress=" + faddress;
                $.ajax({
                    url: apiurl +  encodeURI(data),
                    type: 'PUT',
                    success: function (result) {
                        if (result != 0) {
                            alert("修改成功");
                            fnLoadData();
                        } else {
                            alert("修改失敗");
                        }
                    }
                });
            }
        }

        function fnDelete() {
            var r = confirm("確定要刪除嗎?");
            if (r == true) {
                var fid = $("#fid").val();
                $.ajax({
                    url: apiurl + "?fid=" + encodeURI(fid),
                    type: 'DELETE',
                    success: function (result) {
                        if (result != 0) {
                            alert("刪除成功");
                            fnLoadData();
                        } else {
                            alert("刪除失敗");
                        }
                    }
                });
            }
        }
    });
</script>

<h2>呼叫WebApi進行非同步新增、修改、刪除</h2>

<div class="panel panel-primary">
    <div class="panel-heading">客戶管理</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="fname">編號</label>
            <input type="text" class="form-control" id="fid" readonly>
        </div>
        <div class="form-group">
            <label for="fname">姓名</label>
            <input type="text" class="form-control" id="fname" required>
        </div>
        <div class="form-group">
            <label for="fphone">電話</label>
            <input type="text" class="form-control" id="fphone" required>
        </div>
        <div class="form-group">
            <label for="femail">信箱</label>
            <input type="email" class="form-control" id="femail" required>
        </div>
        <div class="form-group">
            <label for="faddress">地址</label>
            <input type="text" class="form-control" id="faddress" required>
        </div>
        <input type="button" value="新增" id="btnCreate" class="btn btn-primary" />
        <input type="button" value="修改" id="btnEdit" class="btn btn-success" />
        <input type="button" value="刪除" id="btnDelete" class="btn btn-danger" />
    </div>
</div>

<table class="table" id="tableshow">
    <tr>
        <th>編號</th>
        <th>姓名</th>
        <th>電話</th>
        <th>信箱</th>
        <th>地址</th>
        <th></th>
    </tr>
</table>

