﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QueryProvider</title>
</head>
<body>
    <form method="post" action="@Url.Action("QueryProvider")">
        <div>
            請輸入城市名稱：<input name="city" type="text" id="city" required/>
            <button type="submit">查詢</button>
        </div>
    </form>
    <hr />
    @if (ViewBag.show != null) {
        <h2>查詢結果如下：</h2>
        <hr/>
        @Html.Raw(ViewBag.show)
        <hr/>
    }
</body>
</html>
