﻿@model prj40743160HW.Models.C40743160user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>C40743160user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.fid }) |
    @Html.ActionLink("返回清單", "Index")
</p>
