﻿@{
    ViewBag.Title = "Home Page";
}
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<style>
    label {
        display: inline;
        padding-right: 4px;
    }

    select {
        margin-top: 4px;
    }
</style>
<form style="width: 80%;margin: 0 auto;" action="/Home/Index">
    <table class="table">
        <thead>
            <tr>
                <th colspan="8">
                    <h3>搜尋停車場</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 10px">
                    <label for="country">縣市：</label>
                </td>
                <td style="width: 40px">
                    <select name="縣市" style="padding: 1px">
                        <option selected value="台南市">台南市</option>
                    </select>
                </td>
                <td style="width: 10px">
                    <label for="停車場型態">停車場型態：</label>
                </td>
                <td style="width: 40px">
                    <select name="停車場型態" style="padding: 1px">
                        <option @(Request.QueryString["停車場型態"]=="公有"?@"selected":@"") value="公有">公有</option>
                        <option @(Request.QueryString["停車場型態"]=="民營"?@"selected":@"") value="民營">民營</option>
                        <option @(Request.QueryString["停車場型態"]=="不限" || Request.QueryString["停車場型態"]==null?@"selected":@"") value="不限">不限</option>
                    </select>
                </td>
                <td style="width: 10px"></td>
                <td style="width: 40px"></td>
                <td style="width: 10px"></td>
                <td style="width: 40px"></td>
            </tr>
            <tr>
                <td>
                    <label for="一般大型車">一般大型車：</label>
                </td>
                <td>
                    <input name="一般大型車" type="number" style="padding: 1px;width: 70px" value='@(Request.QueryString["一般大型車"]==null?0:int.Parse(Request.QueryString["一般大型車"]))'>
                </td>
                <td>
                    <label for="一般小型車">一般小型車：</label>
                </td>
                <td>
                    <input name="一般小型車" type="number" style="padding: 1px;width: 70px" value='@(Request.QueryString["一般小型車"]==null?0:int.Parse(Request.QueryString["一般小型車"]))'>
                </td>
                <td>
                    <label for="身障者小型車">身障者小型車：</label>
                </td>
                <td>
                    <input name="身障者小型車" type="number" style="padding: 1px;width: 70px" value='@(Request.QueryString["身障者小型車"]==null?0:int.Parse(Request.QueryString["身障者小型車"]))'>
                </td>
                <td>
                    <label for="婦幼者小型車">婦幼者小型車：</label>
                </td>
                <td>
                    <input name="婦幼者小型車" type="number" style="padding: 1px;width: 70px" value='@(Request.QueryString["婦幼者小型車"]==null?0:int.Parse(Request.QueryString["婦幼者小型車"]))'>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="綠能小型車">綠能小型車：</label>
                </td>
                <td>
                    <input name="綠能小型車" type="number" style="padding: 1px;width: 70px" value='@(Request.QueryString["綠能小型車"]==null?0:int.Parse(Request.QueryString["綠能小型車"]))'>
                </td>
                <td style="width: 90px">
                    <label for="一般機車">一般機車：</label>
                </td>
                <td style="width: 80px">
                    <input name="一般機車" type="number" style="padding: 1px;width: 70px" value='@(Request.QueryString["一般機車"]==null?0:int.Parse(Request.QueryString["一般機車"]))'>
                </td>
                <td style="width: 90px">
                    <label for="身障者機車">身障者機車：</label>
                </td>
                <td style="width: 80px">
                    <input name="身障者機車" type="number" style="padding: 1px;width: 70px" value='@(Request.QueryString["身障者機車"]==null?0:int.Parse(Request.QueryString["身障者機車"]))'>
                </td>
                <td>
                    <button type="reset" class="btn btn-secondary">重置</button>
                    <button type="submit" class="btn btn-primary">查詢</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<div class="row">
    <div class="">
    </div>
    <div></div>
    @Html.Raw(ViewBag.Content)
</div>
