﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>產品新增</title>
</head>
<body>
    <form method="post" action="@Url.Action("Create")">
        <h3>產品新增作業</h3>
        <div>
            <p>編號：<input type="text" name="PId" id="PId" value="@ViewBag.PId" required /></p>
            <p>品名：<input type="text" name="PName" id="PName" value="@ViewBag.PName" required /></p>
            <p>單價：<input type="number" name="Price" id="Price" value="@ViewBag.Price" required /></p>
            <p><input type="submit" value="新增" /></p>
            <hr />
            @{ 
                if (ViewBag.PId != null && ViewBag.PName!= null && ViewBag.Price != null)
                {
                    <p>完成新增產品資料</p>
                    <p>編號：@ViewBag.PId | 品名：@ViewBag.PName | 單價：@ViewBag.Price</p>
                }
            }
        </div>
    </form>
</body>
</html>
