﻿@using System.Data
@model System.Data.DataTable

@{
    ViewBag.Title = "學生列表";
}

<h2>學生列表</h2>

<p>
    @Html.ActionLink("學生新增", "Create")
</p>
@if (Model.Rows.Count == 0)
{
    <p>無學生記錄</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                學號
            </th>
            <th>
                姓名
            </th>
            <th>
                信箱
            </th>
            <th>
                成績
            </th>
            <th></th>
        </tr>
        @foreach (DataRow row in Model.Rows)
        {
            <tr>
                <td>
                    @row["fStuId"]
                </td>
                <td>
                    @row["fName"]
                </td>
                <td>
                    @row["fEmail"]
                </td>
                <td>
                    @row["fScore"]
                </td>
                <td>
                    @Html.ActionLink("刪除", "Delete", new { id = row["fStuId"] }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </table>
}
