﻿@model prjToDo.Models.tToDo

@{
    ViewBag.Title = "待辦事項新增";
}

<h2>待辦事項新增</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">標題</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">圖示</label>
            <div class="col-md-10">
                <select id="fImage" name="fImage" class="form-control">
                    <option value="0.png">重要</option>
                    <option value="1.png">普通</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">完成日</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fDate, new { htmlAttributes = new {
                        @class = "form-control", type="date", required="required" } })
                @Html.ValidationMessageFor(model => model.fDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="新增" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回待辦事項列表", "Index")
</div>
