﻿@model prj40743160HW.Models.C40743160user

@{
    ViewBag.Title = "Delete";
}

<h2>刪除</h2>

<h3>你確定要刪除此筆資料嗎?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <!--@Html.DisplayNameFor(model => model.fAccount)-->
            帳號
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAccount)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.fPassword)-->
            密碼
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPassword)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.fEmail)-->
            電子信箱
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fEmail)
        </dd>

        <dt>
            <!--@Html.DisplayNameFor(model => model.fDate)-->
            建立日期
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fDate)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="刪除" class="btn btn-default" /> |
            @Html.ActionLink("返回清單", "Index")
        </div>
    }
</div>
