﻿@model IEnumerable<prj40743160HW.Models.C40743160user>

@{
    ViewBag.Title = "清單";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("建立新帳號", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <!--@Html.DisplayNameFor(model => model.fAccount)-->
            帳號
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.fPassword)-->
            密碼
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.fEmail)-->
            電子信箱
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.fDate)-->
            建立時間
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fDate)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id = item.fid }) |
            @Html.ActionLink("刪除", "Delete", new { id = item.fid }, new { onclick = "return confrim('確定要刪除嗎?')" })
        </td>
    </tr>
    }

</table>
