﻿@model prj40743160.Models.report

@{
    ViewBag.Title = "使用者回饋";
}

<h2>使用者回饋</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.停車場名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.停車場名稱)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.停車場地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.停車場地址)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.回饋內容)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.回饋內容)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("返回", "Report")
</p>
