﻿@model prj40743160.Models.report

@{
    ViewBag.Title = "Report";
}

<h2>回饋系統</h2>

@if (ViewData["report_list"] == null)
{
    using (Html.BeginForm("Report", "Home", FormMethod.Post, new { onsubmit = "thank()" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <label for="" class="control-label col-md-2">停車場名稱：</label>
            <div class="form-group">
                <input name="停車場名稱" value="@(ViewData["停車場名稱"])" class="form-control" readonly />
            </div>
            <label for="" class="control-label col-md-2">停車場名稱：</label>
            <div class="form-group">
                <input name="停車場地址" value="@(ViewData["停車場地址"])" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="">回饋內容：</label>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.回饋內容, 20, 80, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.回饋內容, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="送出" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
}
else
{
    @Html.Raw(ViewData["report_list"])
}
<div>
    @Html.ActionLink("返回主頁", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function thank() {
        alert("感謝您的回饋！");
    }
</script>
