﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form action="Home/Menu" method="get">
        <h2>請輸入地址</h2>
        <input type="text" name="address" value="臺南市 東區 長榮路三段 70號"/><p></p>
        <input type="hidden" value="1" />
        <input type="submit" value="開始訂餐" class="btn btn-danger btn-lg" />
    </form>
</div>
