﻿
@{
    ViewData["Title"] = "Menu";
}
<div class="container">
    <div class="row">
        <div class="col-2">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="#"><img src="~/Content/Image/p11.png"/></a>
                </li>
                <li class="list-group-item">
                    <a href="#"><img src="~/Content/Image/p11.png" /></a>
                    <!--a>快樂分享餐</a>
                    <a>極選系列</a>
                    -->
                </li>
            </ul>
        </div>

        <div class="col-7">

        </div>

        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item">我的訂單</li>
                <li class="list-group-item">@Model.address</li>
            </ul>
        </div>
    </div>
</div>

