﻿@model IEnumerable<prj40743160.Models.NightMarket>

@{
    ViewBag.Title = "夜市清單";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            編號
        </th>
        <th>
            名稱
        </th>
        <th>
            地址
        </th>
        <th>
            圖示
        </th>
    </tr>
    @{ char i='0'; }
    @foreach (var item in Model)
    {
        string img = ++i + ".jpg";
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nmae)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <img src="~/images/@img" width="200" alt="" />
            </td>
            <!--td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td-->
        </tr>
    }

</table>
