﻿@model prj40743160HW.Models.user

@{
    ViewBag.Title = "註冊";
}

<h2>註冊</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2" for="fAccount">帳號</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fAccount, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.fAccount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="fPassword">密碼</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fPassword, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.fPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="fEmail">信箱</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fEmail, new { htmlAttributes = new { @class = "form-control", type = "email" } })
            @Html.ValidationMessageFor(model => model.fEmail, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="fDate">生日</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
            @Html.ValidationMessageFor(model => model.fDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="註冊" class="btn btn-default" />
        </div>
    </div>

    <p>@Html.Raw(@ViewBag.Msg)</p>
</div>
}

<div>
    @Html.ActionLink("返回", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
