﻿@model prj40743160HW.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAdmin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fId }) |
    @Html.ActionLink("返回", "Index")
</p>
