﻿@model IEnumerable<prj40743160HW.Models.user>
@using prj40743160HW.Models;
@{
    ViewBag.Title = "主頁";
}

<p>@ViewBag.msg</p>

@if (Session["user"] == null)
{
    <p>
        @Html.ActionLink("註冊", "Create")
        @Html.ActionLink("登入", "Login")
    </p>
}
else
{
    <p>
        @Html.ActionLink("編輯資料", "Edit", new { id = (Session["user"] as user).fId })
        @Html.ActionLink("登出", "Logout")
    </p>
}
<table class="table">
    @if (Session["user"] != null)
    {
        <tr>
            <th>
                帳號：@((Session["user"] as user).fAccount)
                <br />
                密碼：@((Session["user"] as user).fPassword)
                <br />
                信箱：@((Session["user"] as user).fEmail)
                <br />
                生日：
                @if ((Session["user"] as user).fDate != null)
                {
                    @DateTime.Parse((Session["user"] as user).fDate.ToString()).ToShortDateString();
                }
                <br />
                管理員：@((Session["user"] as user).fAdmin)
                <br />
                <img src="~/images/@((Session["user"] as user).fId).png" width="200" alt="" />
            </th>
        </tr>
    }
    @if (Session["users"] != null)
    {
        foreach (var item in (Session["users"] as List<user>))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fDate)
                </td>
                <td>
                    <img src="~/images/@(item.fId).png" width="64" alt="" />
                </td>
                <td>
                    @Html.ActionLink("編輯", "Edit", new { id = item.fId }) |
                    @Html.ActionLink("詳細", "Details", new { id = item.fId }) |
                    @Html.ActionLink("刪除", "Delete", new { id = item.fId })
                </td>
            </tr>
        }
    }
</table>
