﻿<script type="text/javascript">
    xmlDom = new ActiveXObject("Microsoft.xmldom");
    xmlDom.async = "false";
    xmlDom.load("nfurss.xml");
    //取出根元素中所有children
    rootSubNodeList = xmlDom.documentElement.childNodes;
    channelNode = rootSubNodeList[0];
    channelSubNodeList = channelNode.childNodes;
    document.write("標題: " + channelSubNodeList[0].text + "<br />");
    document.write("發行日期: " + channelSubNodeList[3].text + "<br />");
    document.write("語言: " + channelSubNodeList[6].text + "<br />");
    document.write("<hr />課程:Web技術與應用");
</script>