﻿@model prjMVC.Models.tProduct

@{
    ViewBag.Title = "產品編輯";
}

<h2>產品編輯</h2>


    <form action="@Url.Action("Edit")" method="post"
          enctype="multipart/form-data">


        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>tProduct</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.fId)

            <div class="form-group">
                @Html.LabelFor(model => model.fName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.fPrice, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.fPrice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.fImg, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                                   <input type="file" name="fImg" id="fImg" class="form-control" />
                                   <input type="hidden" name="oldimg" id="oldimg"
                                             value="@Model.fImg" />
                         @if (Model.fImg == "")
                          {
                                 @:無圖示
                          }
                         else
                         {
                                 <img src="~/Images/@Model.fImg" width="200" />
                         }
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="儲存" class="btn btn-default" />
                </div>
            </div>
        </div>


        </form>

        <div>
            @Html.ActionLink("返回產品列表", "Index")
        </div>
